* {
  background-color: black;
  color: white;
}

.main_heading {
  color: white;
}

/* Element selector */
p {
  text-align: center;
  font-size: 50px;
}

/* class selector */
.regalement {
  font-size: 20px;
  color: red;
}

/* Id selector */
#first_parag {
  background-color: orange;
}

/* Ground selector */
h2,
span {
  border: 2px solid blue;
  background-color: green;
}
